@font-face {
    font-family: DM Serif Display;
    src:url("../../fonts/DMSerifDisplay-Regular.ttf");
    
   
    }
@font-face {
    font-family: Jost;
    src:url("../../fonts/Jost-VariableFont_wght.ttf");
    // src:url("./assets/fonts/Jost-VariableFont_wght.ttf");
    
    }